{% extends 'base.html' %}

<!-- CSS 스타트 -->
{% block style %}
<!-- CSS는 따로 빼지 마시고 이쪽에 따로 작성하셔도 됩니다. -->

{% endblock %}
<!-- CSS 끝 -->
<!-- 본문내용 스타트 -->
{% block content %}
<br>
<div class="container my-1">
    <table class="table my-1">
        <thead>
            <tr class="thead-dark">
                <th>테스트1(무언가 추가 화면 아마도 객실소개 같은것 )  참고 사이트 https://www.dreamtreep.com/</th>
            </tr>
        </thead>
    </table>
</div>
<!-- 위의 내용은 일단은 기본형식으로 하고 아래부터 HTML 코드로 작성하시면 됩니다. -->

{% endblock %}
<!-- 본문내용 끝 -->