{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--     부트스트랩 CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}">
    <title>Welcome!</title>
    <style>
        body{background-color: #f5f5f5; padding-top:50px;}
        {% block style %}
        {% endblock %}
    </style>
</head>
<body>
{% include "navbar2.html" %}

<!--기본 템플릿 안에 삽입될 내용 Start-->
{% block content %}
{% endblock %}
<!--기본 템플릿 안에 삽입될 내용 End-->
<div>
    <img src="{% static 'nav_pic_down.jpg' %}"
         style="max-width: 100%; height: auto; display: block; opacity : 0.7;" alt="main">
</div>

<!-- 제이쿼리 JS -->
<script src="{% static 'jquery-3.6.0.js' %}"></script>
<!-- 부트스트랩 JS -->
<script src="{% static 'bootstrap.js' %}"></script>
<!--자바스크립트 Start-->
{% block script %}
{% endblock %}
<!--자바스크립트 End-->
</body>
</html>
